
body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 20px;
}

.App {
  max-width: 600px;
  margin: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: white;
  margin-bottom: 5px;
  border-left: 5px solid #ddd;
}

.task .label {
  font-weight: bold;
}

button.selected {
  background-color: #444;
  color: white;
}

.categories button {
  margin-right: 5px;
  padding: 6px 12px;
}
